@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ff9900cc, #FFEB3B, #FF9800);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* #FFF9C4 */

.no-scrollbar::-webkit-scrollbar{
  display: none;
}


