@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  /* --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c; */
    --color-primary: #F7931E;
  --color-primary-dull: #FBBF77;
  --color-pinky:#F7931E;
    --color-pinky-dull:#FBBF77;


}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}